:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f9f9f9;

  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

a {
  color: black;
}
