services:
  postgres:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5433:5432
    volumes:
      - postges_data:/var/lib/postgresql/18/data
    networks:
      - myNet

volumes:
  postges_data:

networks:
  myNet:
