services:
  server:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: server
    restart: always
    ports:
      - '80:3000'
    depends_on:
      - postgres
    env_file: .env
    networks:
      - myNet

  postgres:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}
    ports:
      - '5433:5432'
    volumes:
      - postges_data:/var/lib/postgresql/18/data
    networks:
      - myNet

volumes:
  postges_data:

networks:
  myNet:
