.MainBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1.4fr;
  grid-template-rows: 130px 140px 150px repeat(2, 160px) 95px;
  grid-auto-rows: 1fr;
  gap: 20px;

  transition: all 0.3s ease-in;
  margin-top: 60px;
  scroll-margin-top: 132px;
  margin-top: 132px;
}

.link {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 47px;
  width: 47px;
  background-color: #828282;
  border-radius: 50%;
}

.MainBlock > div {
  border-radius: 48px;
}

.firstLineText {
  display: flex;
  align-items: end;
  font-size: 104px;
  grid-column: span 2;
}

.firstLineText span {
  width: fit-content;
}

.pattern {
  margin-left: 10px;
  width: 100%;
  height: 80%;
  border-radius: 24px;
  background-color: #d9d9d9;
  flex: 1;
}

.bigBlock {
  background-color: #d9d9d9;
  grid-column: 3;
  grid-row: 1/-1;
}

.secondLineText {
  font-size: 120px;
  grid-column: span 2;
}

.thirdLineText {
  font-size: 134px;
  grid-column: span 2;
}

.actionButton {
  grid-column: span 2;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #828282;

  font-size: 40px;
  color: white;
}

.games,
.events,
.rent {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: left;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;

  font-size: 40px;
}

.games {
  background-color: #d9d9d9;
  background-size: cover;
  grid-row: span 2;
}

.rent {
  background-color: #d9d9d9;
}

.events {
  background-color: #d9d9d9;
}

.resizeWidget {
  height: 600px;
}

.resizeWidget > div {
  height: 100%;
}

@media (max-width: 1920px) {
  .MainBlock {
    grid-template-rows: 45px 50px 55px 1fr 1fr 40px;
    margin-top: 80px;
    height: 600px;
  }

  .firstLineText {
    font-size: 42px;
  }

  .secondLineText {
    font-size: 50px;
  }

  .thirdLineText {
    font-size: 57px;
  }

  .games,
  .events,
  .rent,
  .actionButton {
    font-size: 20px;
  }
}

@media (max-width: 780px) {
  .MainBlock {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    transition: all 0.1s ease-in-out;
    min-height: 600px;
  }

  .MainBlock > * {
    font-size: 24px;
  }

  .firstLineText {
    display: none;
  }
  .secondLineText {
    display: none;
  }

  .thirdLineText {
    display: none;
  }

  .bigBlock {
    display: none;
  }

  .actionButton {
    display: none;
  }

  .games,
  .events,
  .rent {
    width: 100%;
    min-height: auto;
  }

  @media (max-width: 480px) {
    .MainBlock {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 5px;
      transition: all 0.1s ease-in-out;
      min-height: 600px;
    }

    .games {
      grid-row: span 1;
    }
  }
}
