.MainBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
  /* background-color: white; */
  min-height: 100px;
  /* padding: 20px; */
  transition: all 0.3s ease-in;
  margin-top: 60px;
  scroll-margin-top: 132px;
}

.games,
.events,
.rent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;

  color: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 0px 8px black;
}

.games {
  flex: 1;
  background-image: url('/public//images/boardGames.jpg');
  background-size: cover;
}

.rent {
  flex: 1;
  background-color: #d9d9d9;
}

.events {
  flex: 1;
  background-color: #d9d9d9;
}

.opened {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  flex: 8;
  background-image: none;
  background-color: #d9d9d9;
}

.closed span {
  display: inline-block;
  transform: rotate(270deg);
}

.resizeWidget {
  height: 600px;
}

.resizeWidget > div {
  height: 100%;
}

@media (max-width: 780px) {
  .MainBlock {
    flex-direction: column;
    height: 600px;
    min-height: auto;
    gap: 5px;

    transition: all 0.1s ease-in-out;
  }

  .games,
  .events,
  .rent {
    width: 100%;
    min-height: auto;
  }

  .closed span {
    display: inline-block;
    transform: rotate(0deg);
  }
}

@media (min-width: 1920px) {
  .MainBlock {
    margin-top: 132px;
  }
}
