.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;
  padding-inline: 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.Header nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Header img {
  display: inline-block;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}
