.RentBlock {
  gap: 20px;
  /* scroll-margin-top: 132px; */
}

.RentBlock h1 {
  font-size: 48px;
  font-weight: 400;
  display: block;
  width: fit-content;
}

.RentBlock h2 {
  font-size: 48px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  width: 100%;
}

.photos {
  flex: 1;
  background-color: #d9d9d9;
  border-radius: 48px;
  min-height: 660px;
  /* width: 805px; */
  position: relative;
}

.photo {
  height: 266px;
  width: 364px;
  background-color: #aeaeae;
  border-radius: 24px;
  position: absolute;
}

.firstPhoto {
  top: 53px;
  left: 104px;
  transform: rotate(6.39deg);
}

.secondPhoto {
  bottom: 54px;
  right: 100px;
  transform: rotate(-9.35deg);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 3px solid #d9d9d9;
  border-radius: 48px;
}

.content button {
  height: 77px;
  width: 392px;
  border-radius: 24px;
  border: none;
  font-size: 32px;
  background-color: #aeaeae;
  margin-bottom: 20px;
}

.content p {
  font-size: 32px;
  margin-bottom: 55px;
}

.content p:last-of-type {
  margin-bottom: 81px;
}

.content > * {
  margin-left: 130px;
}

@media (max-width: 780px) {
  .RentBlock {
    flex-direction: column-reverse;
  }
}

/* EveryRoom  */
.everyRoom {
  display: flex;
  flex-direction: column;
}

.wrapperItem {
  display: flex;
  /* justify-content: center; */
  gap: 19px;
}

.item {
  width: 390px;
  height: 498px;
  background-color: #d9d9d9;
  border-radius: 24px;
  flex: 1;
}

.everyRoom button {
  height: 77px;
  width: 392px;

  margin-inline: auto;

  border-radius: 24px;
  border: none;
  font-size: 32px;
  background-color: #aeaeae;
  margin-bottom: 20px;
  margin-top: 81px;
}

@media (max-width: 1600px) {
  .RentBlock h1,
  .content h2 {
    font-size: 32px;
  }

  .RentBlock p,
  .RentBlock button {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }

  .photo {
    height: 250px;
    width: 200px;
  }

  .everyRoom button {
    width: 100%;
  }

  .content > * {
    margin-left: 10px;
  }

  .wrapperItem {
    flex-direction: column;
    min-height: 1000px;
  }
}
