.RentBlock {
  gap: 20px;
  /* scroll-margin-top: 132px; */
}

.RentBlock h1 {
  font-size: 48px;
  font-weight: 400;
  display: block;
  width: fit-content;
}

.RentBlock h2 {
  margin: auto;
  font-size: 48px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  width: 100%;
}

.photos {
  flex: 1;
  background-color: #d9d9d9;
  border-radius: 48px;
  min-height: 660px;
  /* width: 805px; */
  position: relative;
}

.photo {
  height: 266px;
  width: 364px;
  background-color: #aeaeae;
  border-radius: 24px;
  position: absolute;
}

.firstPhoto {
  top: 53px;
  left: 104px;
  transform: rotate(6.39deg);
}

.secondPhoto {
  bottom: 54px;
  right: 100px;
  transform: rotate(-9.35deg);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 3px solid #d9d9d9;
  border-radius: 48px;
  padding: 60px;
}

.buttons {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}

.buttons button {
  flex: 1;
  height: fit-content;
  border-radius: 24px;
  border: none;
  font-size: 32px;
  background-color: #aeaeae;
}

.content p {
  font-size: 32px;
}

@media (max-width: 780px) {
  .RentBlock {
    flex-direction: column-reverse;
  }
}

/* EveryRoom  */
.everyRoom {
  display: flex;
  flex-direction: column;
}

.wrapperItem {
  display: flex;
  /* justify-content: center; */
  gap: 19px;
  margin-bottom: 20px;
}

.item {
  width: 390px;
  height: 498px;
  background-color: #d9d9d9;
  border-radius: 24px;
  flex: 1;
}

.everyRoom button {
  padding: 20px;
  width: 50%;

  margin-inline: auto;

  border-radius: 24px;
  border: none;
  font-size: 32px;
  background-color: #aeaeae;
  margin-bottom: 20px;
}

@media (max-width: 1600px) {
  .RentBlock h1,
  .content h2 {
    font-size: 32px;
  }

  .content {
    padding: 20px 20px 20px 20px;
  }

  .photos {
    min-height: auto;
  }

  .photo {
    height: 200px;
    width: 300px;
  }

  .firstPhoto {
    top: 40px;
    left: 60px;
  }

  .secondPhoto {
    bottom: 40px;
    right: 60px;
  }

  .content button {
    height: fit-content;
    padding: 20px;
  }

  .RentBlock p,
  .RentBlock button {
    font-size: 18px;
    line-height: 1.5;
  }

  .item {
    height: 400px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }

  .photo {
    height: 250px;
    width: 200px;
    display: none;
  }

  .everyRoom button {
    width: 100%;
  }

  .content > * {
    margin-left: 10px;
  }

  .wrapperItem {
    flex-direction: column;
    min-height: 1000px;
  }
}
