.NewsFromWall {
  display: flex;
  gap: 20px;
  padding: 20px;

  background-color: white;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-padding: 20px;
  height: 500px;

  scroll-margin-top: 50px;
}

.NewsFromWall::-webkit-scrollbar {
  display: none;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: left;

  height: 100%;
  min-width: 250px;
  padding: 3px;
  border-radius: 6px;

  background-color: aliceblue;
  scroll-snap-align: start;
}

.post .img {
  background-color: white;
  width: 100%;
  flex: 1;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.post p {
  flex: 1;
  padding: 10px;
}

.wrapper {
  position: relative;
}

.wrapper button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.next {
  right: 20px;
}

.prev {
  left: 20px;
}
