.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #d9d9d9;
  padding-inline: 50px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.Header nav {
  display: flex;
  align-items: center;
  font-size: 32px;
  gap: 32px;
}

.Header a {
  text-decoration: none;
}

.Header img {
  display: inline-block;
  max-width: 65px;
  border-radius: 50%;
}

@media (min-width: 1920px) {
  .Header {
    height: 100px;
  }
}

@media (max-width: 1600px) {
  .Header nav {
    font-size: 20px;
  }

  .Header img {
    height: 100%;
  }
}

@media (max-width: 800px) {
  .Header {
    height: 50px;
  }

  .Header nav {
    display: none;
  }

  .Header img {
    height: 100%;
  }
}
