.SpecialOffer {
  display: flex;
  flex-direction: column;
}

.SpecialOffer h1 {
  font-weight: normal;
  font-size: 48px;
}

.NewsFromWall {
  display: flex;
  margin: auto;
  width: 1200px;
  gap: 20px;
  padding: 20px;

  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-padding: 20px;
  height: 500px;

  scroll-margin-top: 132px;
}

.NewsFromWall::-webkit-scrollbar {
  display: none;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;

  height: 100%;

  border-radius: 6px;

  background-color: transparent;
  scroll-snap-align: start;
}

.post .img {
  background-color: #d9d9d9;
  min-height: 498px;
  min-width: 390px;

  width: 100%;
  flex: 1;

  border-radius: 6px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 2px solid #d9d9d9;
}

.content {
  background-color: #d9d9d9;
  border-radius: 24px;
  height: 250px;
}

.post p {
  flex: 1;
  padding: 10px;
  opacity: 0;
}

.wrapper {
  position: relative;
}

.wrapper button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.next {
  right: 0px;
}

.prev {
  left: 0px;
}

.rentButton {
  height: 77px;
  width: 392px;

  margin-inline: auto;

  border-radius: 24px;
  border: none;
  font-size: 32px;
  background-color: #aeaeae;
  margin-bottom: 20px;
  margin-top: 81px;
}
