.WelcomeWords {
  margin-bottom: 32px;
}

.WelcomeWords h1 {
  font-weight: normal;
  font-size: 48px;
}

.WelcomeWords p {
  font-size: 32px;
}

.wrapper {
  display: flex;
}

.content {
  flex: 1;
}

.image {
  flex: 1;
  background-color: #d9d9d9;
  border-radius: 24px;
  width: 810px;
  height: 600px;
}

@media (max-width: 1600px) {
  .WelcomeWords {
    width: 100%;
  }

  .WelcomeWords h1 {
    font-size: 32px;
  }

  .WelcomeWords p {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
}
