.WelcomeWords {
  margin-bottom: 32px;
  scroll-margin-top: 132px;
}

.WelcomeWords h1 {
  font-weight: normal;
  font-size: 48px;
}

.WelcomeWords p {
  font-size: 32px;
}

.wrapper {
  display: flex;
}

.content {
  flex: 1;
}

.image {
  flex: 1;
  background-color: #d9d9d9;
  border-radius: 24px;
  width: 810px;
  height: 600px;
}

.stars {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  gap: 70px;
  width: 100%;
  height: fit-content;
  font-size: 24px;
  margin-bottom: 68px;

  padding: 0;
}

.stars li {
  padding-left: 56px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('/public/icons/star.svg');
}

@media (max-width: 1600px) {
  .WelcomeWords {
    width: 100%;
  }

  .WelcomeWords h1 {
    font-size: 32px;
  }

  .WelcomeWords p {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
}
